.list .mui-media-body span{
	letter-spacing:1px;
	font-weight:bold; 
	color: #06BFAC;
	font-size:medium;
	font-family:  "微软雅黑" ;
}
.list .mui-media-body p{
	padding-top: 3px;
	font-size: small;
	font-family:  "微软雅黑" ;
}


.tu{
	width: 16%;
}
.tu .iconfont{
	font-size: 2.5em;
	text-align: center;
}
.tu_t1{
	color: #FEA79B;
}
.tu_t2{
	color: #78E067;
}
.tu_t3{
	color: #1AC0F4;
}
